<a href="https://colab.research.google.com/github/Codestronomer/HamoyeAI_Internship/blob/main/Quiz-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import seaborn as sn

In [3]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00471/Data_for_UCI_named.csv")

df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [4]:
df.shape

(10000, 14)

In [5]:
df.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403

In [6]:
df.columns

Index(['tau1', 'tau2', 'tau3', 'tau4', 'p1', 'p2', 'p3', 'p4', 'g1', 'g2',
       'g3', 'g4', 'stab', 'stabf'],
      dtype='object')

In [7]:
df.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [8]:
df['stabf'].value_counts(normalize=True)

unstable    0.638
stable      0.362
Name: stabf, dtype: float64

In [21]:
stability = {'unstable': 0, 'stable': 1}
df['stabf'] = df['stabf'].replace(stability)

df = df.sample(frac=1)
df

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
7042,2.856752,4.718949,8.027336,1.568872,3.423679,-1.235163,-0.661587,-1.526929,0.175448,0.475910,0.981032,0.764949,0.013094,0
3610,2.332018,8.911151,8.069729,3.506531,3.536234,-1.161788,-0.667806,-1.706639,0.594461,0.623402,0.550872,0.481625,0.021790,0
3303,6.855594,9.058189,6.855304,2.414470,3.407214,-1.141995,-1.112314,-1.152905,0.580808,0.681813,0.142570,0.222832,0.026236,0
7478,2.327652,2.827247,8.974776,5.539733,4.009549,-1.210560,-0.978531,-1.820458,0.774491,0.789491,0.910529,0.609165,0.033025,0
8428,8.458664,8.608343,6.355848,0.855324,4.216833,-0.698276,-1.855561,-1.662996,0.163357,0.738981,0.366001,0.761677,-0.005125,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5334,1.565045,0.923305,5.629408,6.078213,3.298236,-1.006356,-1.699942,-0.591938,0.122396,0.528773,0.350588,0.657337,-0.029069,1
5730,7.043758,6.109157,8.786520,6.414103,3.919455,-1.165783,-1.138025,-1.615647,0.276604,0.686791,0.144475,0.291401,0.020131,0
4962,2.286998,4.385142,2.830232,5.293880,3.035814,-1.202764,-0.902011,-0.931039,0.924216,0.130186,0.703887,0.063811,-0.015655,1
3861,6.286576,0.705456,6.637064,2.774008,3.088838,-1.124949,-1.313855,-0.650033,0.598241,0.469819,0.251798,0.990376,-0.008883,1
1644,1.244662,1.893175,1.495222,2.529496,4.061817,-1.149109,-1.900329,-1.012380,0.169745,0.730023,0.662723,0.683232,-0.034053,1

In [22]:
x_data = df.iloc[:, :12]

x_data.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
7042,2.856752,4.718949,8.027336,1.568872,3.423679,-1.235163,-0.661587,-1.526929,0.175448,0.475910,0.981032,0.764949
3610,2.332018,8.911151,8.069729,3.506531,3.536234,-1.161788,-0.667806,-1.706639,0.594461,0.623402,0.550872,0.481625
3303,6.855594,9.058189,6.855304,2.414470,3.407214,-1.141995,-1.112314,-1.152905,0.580808,0.681813,0.142570,0.222832
7478,2.327652,2.827247,8.974776,5.539733,4.009549,-1.210560,-0.978531,-1.820458,0.774491,0.789491,0.910529,0.609165
8428,8.458664,8.608343,6.355848,0.855324,4.216833,-0.698276,-1.855561,-1.662996,0.163357,0.738981,0.366001,0.761677

In [23]:
y_data = df.iloc[:, 13]

y_data.head()

7042    0
3610    0
3303    0
7478    0
8428    1
Name: stabf, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.2, random_state=1)

In [27]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train, y_train)
x_test = sc.transform(x_test)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [62]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from numpy import mean, std

rf_clf = ensemble.RandomForestClassifier(n_estimators=100)

cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(rf_clf, x_train, y_train, scoring='accuracy', cv=cv, n_jobs=-1)
# report performance
print(f'Accuracy: {(mean(n_scores), std(n_scores))}')

Accuracy: (0.9147916666666667, 0.009259473377153927)

In [61]:
from sklearn.ensemble import ExtraTreesClassifier


xt_clf = ExtraTreesClassifier()

# evaluate the model
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

n_scores = cross_val_score(xt_clf, x_train, y_train, scoring='accuracy', cv=cv, n_jobs=-1)

# report performance
print(f'Accuracy: {(mean(n_scores), std(n_scores))}')

Accuracy: (0.920375, 0.007740249242326332)

In [60]:
from xgboost import XGBClassifier

# define the model
XGB_model = XGBClassifier()

# evaluate the model
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

n_scores = cross_val_score(XGB_model, x_train, y_train, scoring='accuracy', cv=cv, n_jobs=-1)

# report performance
print(f'Accuracy: {(mean(n_scores), std(n_scores))}')

Accuracy: (0.9176666666666667, 0.009155675228451968)

In [59]:
from lightgbm import LGBMClassifier

LGM_model = LGBMClassifier()

cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(LGM_model, x_train, y_train, scoring='accuracy', cv=cv)
print(f'Accuracy: {(mean(n_scores), std(n_scores))}')

Accuracy: (0.9398750000000002, 0.008038643645955865)

In [55]:
from sklearn.model_selection import RandomizedSearchCV


n_estimators = [int(x) for x in np.linspace(start = 1, stop = 20, num = 20)] # number of trees in the random forest
max_features = ['auto', 'sqrt'] # number of features in consideration at every split
max_depth = [int(x) for x in np.linspace(10, 120, num = 12)] # maximum number of levels allowed in each decision tree
min_samples_split = [2, 6, 10] # minimum sample number to split a node
min_samples_leaf = [1, 3, 4] # minimum sample number that can be stored in a leaf node
bootstrap = [True, False] # method used to sample data points

random_grid = {'n_estimators': n_estimators,

'max_features': max_features,

'max_depth': max_depth,

'min_samples_split': min_samples_split,

'min_samples_leaf': min_samples_leaf,

'bootstrap': bootstrap}

rf_random = RandomizedSearchCV(estimator = xt_clf, param_distributions = random_grid, n_iter = 100, scoring="accuracy", cv = 5, verbose=2, random_state=1, n_jobs = -1)
rf_random.fit(x_train, y_train)
random_predictions = rf_random.predict(x_test)

Fitting 5 folds for each of 100 candidates, totalling 500 fits

In [56]:
from sklearn.metrics import classification_report, confusion_matrix

confusion_matrix(y_test, random_predictions)

array([[1294,    0],
       [ 706,    0]])

In [57]:
classification_report(y_test, random_predictions)

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

'              precision    recall  f1-score   support\n\n           0       0.65      1.00      0.79      1294\n           1       0.00      0.00      0.00       706\n\n    accuracy                           0.65      2000\n   macro avg       0.32      0.50      0.39      2000\nweighted avg       0.42      0.65      0.51      2000\n'